In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/cleaned_austin_v1.csv', low_memory=False)

print("Original Shape:", df.shape)

Original Shape: (14368, 154)

In [10]:
# Drop misleading / low-value / noisy features
drop_cols = [
    'has_free_parking',
    'missing_response_rate',
    'missing_acceptance_rate',
    'host_response_rate',
    'review_scores_cleanliness',
    'review_scores_communication',
    'review_scores_location'
]

df = df.drop(columns=[c for c in drop_cols if c in df.columns])
print("After dropping noisy columns", df.shape)

After dropping noisy columns (14368, 147)

In [11]:
# Clip unrealistic values
df['minimum_nights'] = df['minimum_nights'].clip(1, 30)
df['maximum_nights'] = df['maximum_nights'].clip(1, 365)

df['reviews_per_month'] = df['reviews_per_month'].clip(0, 6)
df['price'] = df['price'].clip(20, df['price'].quantile(0.99))

In [12]:
df.to_csv("../data/cleaned_austin_v2.csv", index=False)

In [13]:
set([
    'missing_acceptance_rate',
    'missing_response_rate',
    'host_response_rate',
    'has_free_parking',
    'review_scores_cleanliness',
    'review_scores_communication',
    'review_scores_location'
]).intersection(df.columns)

set()

In [16]:
df[['minimum_nights', 'maximum_nights', 'reviews_per_month', 'price']].describe()

       minimum_nights  maximum_nights  reviews_per_month         price
count    14368.000000    14368.000000       14368.000000  14368.000000
mean         6.024220      246.622982           1.191883    284.732252
std          9.698409      155.908712           1.501451    321.517924
min          1.000000        1.000000           0.000000     20.000000
25%          1.000000       45.000000           0.030000    108.000000
50%          2.000000      365.000000           0.550000    180.000000
75%          3.000000      365.000000           1.860000    320.000000
max         30.000000      365.000000           6.000000   2000.000000

In [18]:
print(df.dtypes.value_counts())
df.dtypes[df.dtypes == 'object']

bool       119
int64       14
float64     14
Name: count, dtype: int64

Series([], dtype: object)

In [19]:
df['survived'].value_counts(normalize=True)

survived
1    0.6337
0    0.3663
Name: proportion, dtype: float64