In [47]:
import pandas as pd

df = pd.read_csv('../data/cleaned_austin_v2.csv', low_memory=False)

# Show counts for each property type BEFORE one-hot encoding
property_cols = [c for c in df.columns if c.startswith('property_type_')]
property_counts = df[property_cols].sum().sort_values(ascending=False)

print(property_counts)

property_type_Entire home                     5205
property_type_Entire rental unit              2987
property_type_Private room in home            1552
property_type_Entire condo                    1314
property_type_Entire guesthouse                656
                                              ...
property_type_Entire chalet                      1
property_type_Shared room in guest suite         1
property_type_Shared room in camper/rv           1
property_type_Ranch                              1
property_type_Private room in earthen home       1
Length: 69, dtype: int64

In [48]:
property_cols = [c for c in df.columns if c.startswith('property_type_')]

entire_cols = [c for c in property_cols if 'entire' in c.lower()]
private_cols = [c for c in property_cols if 'private room' in c.lower() or 'shared room' in c.lower()]
hotel_cols = [c for c in property_cols if 'hotel' in c.lower()]

df['is_entire_place'] = df[entire_cols].sum(axis=1).clip(0,1)
df['is_private_room'] = df[private_cols].sum(axis=1).clip(0,1)
df['is_hotel_room'] = df[hotel_cols].sum(axis=1).clip(0,1)

df = df.drop(columns=property_cols)

In [51]:
print(df[['is_entire_place', 'is_private_room']].head(10))

   is_entire_place  is_private_room
0                1                0
1                0                1
2                1                0
3                1                0
4                1                0
5                1                0
6                1                0
7                1                0
8                1                0
9                1                0

In [52]:
[col for col in df.columns if col.startswith("property")]

[]

In [55]:
neigh_cols = [col for col in df.columns if col.startswith("neighbourhood")]
df = df.drop(columns=neigh_cols)
df.head()

,id,host_is_superhost,host_acceptance_rate,host_total_listings_count,host_has_profile_pic,accommodates,minimum_nights,maximum_nights,instant_bookable,availability_365,...,host_response_time_unknown,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour,room_type_Hotel room,room_type_Private room,room_type_Shared room,is_entire_place,is_private_room,is_hotel_room
0,5456,1.0,0.95,4.0,1.0,3,2,90,0,298,...,False,False,False,True,False,False,False,1,0,0
1,5769,1.0,0.95,4.0,1.0,2,1,14,0,0,...,False,False,True,False,False,True,False,0,1,0
2,6413,1.0,1.00,1.0,1.0,2,30,90,0,0,...,True,False,False,False,False,False,False,1,0,0
3,6448,1.0,1.00,2.0,1.0,2,3,365,1,133,...,False,False,False,True,False,False,False,1,0,0
4,8502,0.0,0.70,1.0,1.0,2,4,90,0,36,...,False,True,False,False,False,False,False,1,0,0

In [58]:
[col for col in df.columns if col.startswith("review")]

['reviews_per_month', 'review_scores_rating']

In [57]:
df = df.drop(columns=['review_scores_accuracy', 'review_scores_checkin', 'review_scores_value'])

In [60]:
room_types = [col for col in df.columns if col.startswith("room")]
df = df.drop(columns=room_types)

In [61]:
[col for col in df.columns if "host" in col]

['host_is_superhost',
 'host_acceptance_rate',
 'host_total_listings_count',
 'host_has_profile_pic',
 'host_tenure_days',
 'host_response_time_unknown',
 'host_response_time_within a day',
 'host_response_time_within a few hours',
 'host_response_time_within an hour']

In [62]:
host_response = [col for col in df.columns if col.startswith("host_response")]

In [ ]:
df = df.drop(columns=host_response)

In [67]:
has = [col for col in df.columns if col.startswith("has_bed_linens") or col.startswith("has_tv")]
print(has)

['has_bed_linens', 'has_tv']

In [68]:
df = df.drop(columns=has)

In [70]:
df.columns.tolist()

['id',
 'host_is_superhost',
 'host_acceptance_rate',
 'host_total_listings_count',
 'host_has_profile_pic',
 'accommodates',
 'minimum_nights',
 'maximum_nights',
 'instant_bookable',
 'availability_365',
 'price',
 'number_of_reviews',
 'reviews_per_month',
 'review_scores_rating',
 'survived',
 'bathrooms',
 'host_tenure_days',
 'has_wifi',
 'has_kitchen',
 'has_air_conditioning',
 'has_heating',
 'bedrooms',
 'beds',
 'is_entire_place',
 'is_private_room',
 'is_hotel_room']

In [71]:
df.to_csv("../data/cleaned_austin_v3.csv", index=False)